body {
	margin-bottom: 60px;
}
h1{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: normal;
}
.photo {
	width: 100%;
	/*border-radius: 10%;*/
	margin:16% auto;

}
img.projectIcon {
	width:200px;
	height:200px; 
	border-radius: 10%;
	float:left;
	opacity: 1; 

}

.main-text {
	margin-top: 5%;
	/*padding-left: 9%;*/
	padding-right: 9%;
	font-size: 18px;
	line-height: 185%;
	font-family: 'Raleway', sans-serif;
}

@media (max-width: 978px) {
  .photo {
  	margin-top: 2%;
  }
}


a.link{
	width:40px;
	margin:20px 40px;
}

i {
	font-size: 30px;
}

.footer {
	padding-top:6 %;
	padding-left: 30%;
	padding-right: 20%;
	font-size: 15px;
}


.talky {
	/*width: 90%;*/
	margin: 0 auto;
	background-color: rgb(226,255,246);
	border-radius: 25px;
}

#talkyImage {
	display: inline-block;
	float: right;
} 

#talkyIntro {
	font-family: 'Raleway', sans-serif;
	padding-top: 40px;
	padding-left: 60px;
	float: left;
	display: inline-block;
	width: 400px;
}

