h1{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: normal;
}
img {
	width: 100%;
	border-radius: 10%;
	margin:18% auto;

}

.main-text {
	margin-top: 5%;
	padding-left: 9%;
	padding-right: 9%;
	font-size: 17px; 
	line-height: 185%;
	font-family: 'Raleway', sans-serif;
}

@media (max-width: 978px) {
  img {
  	margin-top: 2%;
  }
}

a.link{
	width:40px;
	margin:20px 40px;
}

i {
	font-size: 30px;
}

.footer {
	padding-top:30%;
	padding-left: 30%;
	padding-right: 20%;
}

