h1{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: normal;
}
.photo {
	width: 100%;
	/*border-radius: 10%;*/
	margin:16% auto;

}
img.projectIcon {
	width:200px;
	height:200px;
	border-radius: 10%;
	margin-right: 7%;
	float:left;
	opacity: 1;

}
img.projectIcon:hover {
	opacity: 0.5;
	 -webkit-transform: scale(0.8);
     -ms-transform: scale(0.8);
     transform: scale(0.8);
}
.main-text {
	margin-top: 5%;
	/*padding-left: 9%;*/
	padding-right: 9%;
	font-size: 17px; 
	line-height: 185%;
	font-family: 'Raleway', sans-serif;
}

@media (max-width: 978px) {
  .photo {
  	margin-top: 2%;
  }
}


a.link{
	width:40px;
	margin:20px 40px;
}

i {
	font-size: 30px;
}

.footer {
	padding-top:6 %;
	padding-left: 30%;
	padding-right: 20%;
	font-size: 15px;
}

